body{
    background-image: url(contents/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-x: hidden;
}


.navbar{
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    }

.login-button{
    background-color: #ffad05;
    color: white; 
    font-size: 14px;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}
.login-button:hover{
    background-color: #ff8c00;
}

.cart-button{
    margin-left: 10px;
    background-color: #ffad05;
    color: white; 
    font-size: 14px;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}
.cart-button:hover{
    background-color: #ff8c00;
}
.navbar-brand{
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffad05;
    transition: 0.3s color;
}
.navbar-toggler{
    border: none;
    font-size: 1.2rem;

}
.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}
.nav-link{
    font-size: 1.2rem;
    font-weight: 500;
    transition: 0.3s color;
    position: relative;
}
.nav-link:hover , .nav-link:active{
    color: #ffad05;
}

@media (min-width: 991px){
    .nav-link::before{
        content: "";
        position: absolute;
        bottom:0;
        left: 50%;
        transform : translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #ffad05;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    .nav-link:active{
        color: #ffad05;
    }
    .nav-link:hover::before, .nav-link:active{
        width: 100%;
        visibility: visible;
    } 
}

/* Hero Section */
.hero-section {
    background-image: url(contents/images/StockCake-Eco-friendly\ Cafe\ Front_1721475584.jpg); /* Replace with your background image */
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .hero-section .container {
    position: relative;
    z-index: 1;
  }
  
  .hero-section .text-white {
    color: #fff !important;
  }

.h2-story{
    font-size: 2.5rem;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 20px;

}
.p-story{
    font-size:medium;
    max-width: 400px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 20px;
}

/* Footer */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #ffad05;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.book-table {
    overflow:hidden;
    
}
.h2-gallery{
    font-size: 3rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
}
#gallery {
    padding-top: 50px;
    padding-bottom: 45px;
}

.book-table-img {
    height: 70vh;
    min-height: 400px;
    max-height: 450px;
    border-radius: 50px;

}

.back-img {
    background-position: center;
    background-size: cover;
}

/* Testimonials Section */

.h2-review{
    padding-top: 50px;
    font-size: 3rem;
    font-weight: bold;
    color: #fafafa;
    margin-bottom: 20px;
}
.sec-wp{
    background-color: transparent;
    padding-bottom: 100px;
}
.testimonials-img {
    position: relative;
}

.testimonials-img img {
    position: absolute;
    top: 60px;
    right: 30px;
    width: calc(100% + 5vw);
    max-width: initial;
}

.testimonials-box {
    display: flow-root;
    position: relative;
    padding: 30px;
    padding-top: 0;
    border-radius: 30px;
    margin: 50px 0 30px;
    background: linear-gradient(145deg, #ececec, #ffffff);
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
}

.testimonials-box:hover {
    transform: scale(1.05);
    z-index: 2;
}

.testimonial-box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.testimonials-box-img {
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
    margin-top: -50px;
}

.testimonials-box-text .h3-title {
    margin-bottom: 10px;
    text-transform: capitalize;
}

.testimonials-box-text p {
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Latest Publications */
.sec-wp1{
    background-color:#fffefe;
    padding-bottom: 40px;

}
.h2-title1{
    padding-top: 50px;
    font-size: 3rem;
    font-weight: bold;
    color: #0e0e0e;
    margin-bottom: 20px;
}
.blog-text .h4-title {
    text-transform: capitalize;
    margin-bottom: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 900;
    font-family: "playfair Display";
    color: #0d0d25;
    transition: 0.3s;
}

.blog-text .h4-title:hover {
    color: #ff8243;
}

.blog-date {
    padding: 5px 15px;
    background: #f8f9fa;
    box-shadow: inset 5px 5px 10px #e2e2e2, inset -5px -5px 10px #e8e8e8;
    display: inline-block;
    border-radius: 8px;
    font-size: 14px;
    margin-bottom: 20px;
}

.blog-img {
    width: 100%;
    height: 280px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.blog-box {
    padding: 30px 25px;
    border-radius: 30px;
    background: linear-gradient(145deg, #ececec, #fdfdfd);
    box-shadow: 30px 30px 50px #dcdcdc, -30px -30px 50px #ffffff;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
    margin-bottom: 30px;
}

.blog-box:hover {
    transform: scale(1.03);
}

.public-para{
    font-size: 16px;
    color: #0e0e0e;
    margin-bottom: 20px;
    max-height: 300px;
}
/* Newsletter */

.sec-wp2{
    padding-top: 50px;
    background-color: transparent;
    
    padding-bottom: 50px;

}

.newsletter-box {
    padding-top: 40px;
    border-radius: 30px;
    position: center;
    overflow: hidden;
}

.newsletter-form {
    margin-top: 20px;
    position: relative;
}

.newsletter-form button {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translate(0, -50%);
}

.newsletter-form .form-input {
    height: 68px;
    border-radius: 60px;
    padding: 0 150px 0 40px;
    background: #f8f9fa;
}

.newsletter-box-text {
    padding: 0 60px;
    color: #f2f2f2;
    text-align: center;
}

.newsletter-box-text .h2-title {
    color: #ffffff;
}
.newsletter-btn{
    background-color: #ffad05;
    color: white; 
    font-size: 14px;
    font-weight: bold;
    margin-right: 250px;
    padding: 8px 16px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}
.newsletter-btn:hover{
    background-color: #ff8c00;
}

/* Scroll Bar Design */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #bfbfbf;
}

::-webkit-scrollbar-thumb {
    background: #ff8243;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #f16620;
}


/* Menu Page */
.menu-section {
    padding: 60px 0;
    background-color: #dcdcdc;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  }
  .menu-section h2 {
    margin-bottom: 40px;
    font-size: 2.5rem;
    position: relative;
    display: inline-block;
    font-weight: 600;
  }
  .menu-section h2 i {
    font-size: 1.5rem;
    margin-left: 10px;
    color: #00000000;
  }
  .card {
    border: none;
    transition: transform 0.3s, box-shadow 0.3s;
  }



  .dish-box-wp {
    display: none;
}

.dish-box {
    border-radius: 30px;
    background: linear-gradient(145deg, #ececec, #ffffff);
    display: flow-root;
    padding: 0 30px 40px;
    padding-top: 0;
    margin: 130px 0 30px;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
}

.dish-box:hover {
    transform: scale(1.03);
}

.dist-img {
    margin-top: -130px;
    margin-bottom: 30px;
}

.dist-img img {

    border-radius: 50%;
    overflow: hidden;

}

.dish-rating {
    font-size: 20px;
    margin-bottom: 15px;
}

.dish-title {
    padding: 0 30px;
}

.dish-title .h3-title {
    text-transform: capitalize;
    margin-bottom: 5px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: #0d0d25;
    transition: 0.3s;
    min-height: 76px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 900;
}

.dish-title p {
    color: #bfbfbf;
}

.dish-info ul, .dist-bottom-row ul {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.dish-info ul li {
    display: inline-block;
    flex: 1;
}

.dish-info ul li:last-child {
    text-align: right;
    border-left: 2px solid rgb(204 204 204 / 30%);
}

.dist-bottom-row ul li:last-child {
    text-align: right;
}

.dish-info ul li p {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 2px;
    font-weight: 300;
}

.dish-info ul li b {
    font-weight: 600;
}

.dish-info, .dist-bottom-row {
    padding: 0 30px;
}

.dish-info {
    border-bottom: 2px solid rgb(204 204 204 / 30%);
    margin: 30px 0 30px;
    padding-bottom: 30px;
}

.dist-bottom-row ul li {
    display: flex;
    align-items: center;
}

.dist-bottom-row ul li b {
    font-size: 30px;
}

.dish-add-btn {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    transition: 0.3s;
    background: linear-gradient(145deg, #ffc954, #ffbc00);
    box-shadow: inset 4px 4px 8px #d6a029, inset -4px -4px 8px #ffd837;
}

.dish-add-btn i {
    color: #ffffff;
    font-size: 22px;
}

.dish-add-btn:hover {
    background: linear-gradient(145deg, #e3a92b, #ffc933);
}


.repeat-img {
    background-size: contain;
    background-repeat: repeat;
}

.menu-tab-wp {
    margin-bottom: 80px;
}

.menu-tab ul {
    padding: 10px;
    display: inline-block;
    border-radius: 60px;
    background: linear-gradient(145deg, #ececec, #ffffff);
    position: relative;
    z-index: 2;
}

.menu-tab ul li, .menu-tab ul .filter-active {
    display: inline-flex;
    text-transform: capitalize;
    font-size: 18px;
    line-height: normal;
    cursor: pointer;
    padding: 10px 26px;
    border-radius: 30px;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
}

.filter-active {
    position: absolute;
    left: 0;
    top: 12px;
    min-height: 50px;
    z-index: -1;
}

.menu-tab ul li img {
    margin-right: 10px;
    position: relative;
    top: 1px;
}

.menu-tab ul .filter-active {
    color: #ffffff;
    background: linear-gradient(145deg, #e3a92b, #ffc933);
}

.menu-list-row .bydefault_show .dish-box-wp {
    display: inline-block !important;
}

.dish-box-wp {
    display: none;
}

.dish-box {
    border-radius: 30px;
    background: linear-gradient(145deg, #ececec, #ffffff);
    display: flow-root;
    padding: 0 30px 40px;
    padding-top: 0;
    margin: 130px 0 30px;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
}
.h2-title4{
    font-size: 46px;
    color: #0d0d25;
    line-height: 56px;
    margin-bottom: 15px;
    text-transform: capitalize;
    position: relative;
}
